@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.navbar {
  padding-left: 165px;
}
a:hover {
  text-decoration: none;
}

.container {
  margin-top: 50px;
}

.table-responsive {
  border-radius: 5px;
}
